<!DOCTYPE html>
<html lang="en">

<head>
  <title>JobHunt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Source+Serif+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-dark1 navbar-dark">
    <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">JobHunt</a>
    </div>

    <% if(user) { %>
      <a class="nav-link text-white float-right username">  <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="rounded-circle" style="width:25px;"><%=user.name%>%></a>
      <a class="nav-link text-white" href="/logout">Logout</a>
      <% } %>
  </div>
  </nav>
